.sidebar {
    display: flex;
    flex-direction: row;
    width: 12rem;
    height: 100vh;
    padding: 2rem 3rem;
    background-color: var(--color-black);
    color: #fff;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.6);
}

.sidebar ul {
    margin-top: 10.5rem;
    list-style: none;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover .icon {
    transform: scale(1.1);
}

.sidebar .icon {
    display: block;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.sidebar .copyright {
    margin-top: 3rem;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 1.2rem;
}

@media (min-width: 905px) {
    .sidebar {
        flex-direction: column;
    }
}